<div class="flex">
  <div>
    <h1><%= title %></h1>
  </div>
</div>

<p>The page you're looking for doesn't exist. You'll be redirected to the CS2D Server List in 5 seconds.</p>

<script>
setTimeout(() => location.href = '/', 5000)
</script>
