<div class="flex">
  <div>
    <h1><%= title %></h1>
  </div>
</div>

<p>Effortlessly access real-time CS2D server data and upload leaderboard stats. Our API offers:</p>
<ul>
  <li><b>Completely free</b> access — no subscription or fees</li>
  <li><b>Consistent JSON</b> responses for every request</li>
  <li><b>Unlimited usage</b> — no rate limits or throttling</li>
  <li><b>Global access</b> with full <b>CORS</b> (*) support</li>
</ul>

<div class="endpoint">
  <h2>Endpoint: Server Status</h2>
  <code class="api"><span class="curl">curl</span> <span class="str">"https://cs2d.pp.ua/api/157.90.170.75:20001"</code>
  <p>This endpoint allows you to request information for multiple CS2D servers by specifying their IP addresses and ports in the URL. You can query multiple servers in a single request by separating each server's address and port with a comma.</p>
</div>

<div class="endpoint">
  <h2>Endpoint: Upload Leaderboard</h2>
  <code class="api"><span class="curl">curl</span> -X POST <span class="str">"https://cs2d.pp.ua/api/upload"</span> -F <span class="str">"file=@/home/cs2d/sys/stats/userstats.dat"</span> -F <span class="str">"port=36963"</span></code>
  <p>This endpoint allows you to upload leaderboard data.</p>
  <ul>
    <li><b><code>file</code></b> (required): Path to the <code>userstats.dat</code> file</li>
    <li><b><code>port</code></b> (required): The port number of the server</li>
    <li><b><code>sort</code></b> (optional): Formula used to sort users [default: 1]</li>
  </ul>
</div>
