<div class="flex">
  <div>
    <h1><%= title %></h1>
  </div>
</div>

<ul>
  <li>The API is completely free to use.</li>
  <li>You can make as many requests as needed without any restrictions.</li>
  <li>Available globally with CORS * (Cross-Origin Resource Sharing) support.</li>
</ul>

<div class="endpoint">
  <h2>Endpoint: Server Status</h2>
  <code class="api">/api/{address},{address},...</code>
  <p>This endpoint allows you to request information for multiple CS2D servers by specifying their IP addresses and ports in the URL. You can query multiple servers in a single request by separating each server's address and port with a comma.</p>
</div>
