<div class="flex">
  <div>
    <h1><%= title %></h1>
  </div>
</div>

<p>No rate limits, unlimited requests. Free to use.</p>
<code class="copy api"><%= url %>/api/45.77.92.159:30001</code>
<div class="details">
  <div>
    <p>Example response:</p>
    <ul class="api">
      <li>{</li>
      <ul>
        <li><span class="attr">"ip"</span>: <span class="string">"45.77.92.159"</span>,</li>
        <li><span class="attr">"port"</span>: <span class="number">30001</span>,</li>
        <li><span class="attr">"geoip"</span>: {</li>
        <ul>
          <li><span class="attr">"code"</span>: <span class="string">"US"</span>,</li>
          <li><span class="attr">"name"</span>: <span class="string">"United States"</span>
        </ul>
        <li>},</li>
        <li><span class="attr">"debug"</span>: {</li>
        <ul>
          <li><span class="attr">"addedAt"</span>: <span class="number">1741571765683</span>,</li>
          <li><span class="attr">"sentPackets"</span>: <span class="number">288</span>,</li>
          <li><span class="attr">"recvPackets"</span>: <span class="number">8129</span>,</li>
          <li><span class="attr">"sentBytes"</span>: <span class="number">36</span>,</li>
          <li><span class="attr">"recvBytes"</span>: <span class="number">34</span></li>
        </ul>
        <li>},</li>
        <li><span class="attr">"ts"</span>: <span class="number">1741051556</span>,</li>
        <li><span class="attr">"password"</span>: <span class="keyword">false</span>,</li>
        <li><span class="attr">"usgnonly"</span>: <span class="keyword">false</span>,</li>
        <li><span class="attr">"fow"</span>: <span class="keyword">false</span>,</li>
        <li><span class="attr">"friendlyfire"</span>: <span class="keyword">false</span>,</li>
        <li><span class="attr">"lua"</span>: <span class="keyword">true</span>,</li>
        <li><span class="attr">"forcelight"</span>: <span class="keyword">false</span>,</li>
        <li><span class="attr">"name"</span>: <span class="string">"[Q] CS2D.org # Ranked - USA"</span>,</li>
        <li><span class="attr">"map"</span>: <span class="string">"de_dust"</span>,</li>
        <li><span class="attr">"players"</span>: <span class="number">1</span>,</li>
        <li><span class="attr">"maxplayers"</span>: <span class="number">32</span>,</li>
        <li><span class="attr">"gamemode"</span>: <span class="number">0</span>,</li>
        <li><span class="attr">"bots"</span>: <span class="number">1</span>,</li>
        <li><span class="attr">"recoil"</span>: <span class="keyword">false</span>,</li>
        <li><span class="attr">"offscreendamage"</span>: <span class="keyword">true</span>,</li>
        <li><span class="attr">"hasdownloads"</span>: <span class="keyword">true</span>,</li>
        <li><span class="attr">"playerlist"</span>: [</li>
        <ul>
          <li>{</li>
          <ul>
            <li><span class="attr">"id"</span>: <span class="number">1</span>,</li>
            <li><span class="attr">"name"</span>: <span class="string">"[b]ZOMG"</span>,</li>
            <li><span class="attr">"team"</span>: <span class="number">1</span>,</li>
            <li><span class="attr">"score"</span>: <span class="number">3</span>,</li>
            <li><span class="attr">"deaths"</span>: <span class="number">5</span></li>
          </ul>
          <li>}</li>
        </ul>
        <li>]</li>
      </ul>
      <li>}</li>
    </ul>
  </div>
  <div>
    <p>Parameter description:</p>
    <ul class="api">
      <li>&nbsp;</li>
        <li><span class="attr">ip:</span> <span class="string">The server's IP address</span></li>
        <li><span class="attr">port:</span> <span class="number">The server's port number</span></li>
        <li><span class="attr">geoip:</span>
          <ul>
            <li><span class="attr">code:</span> <span class="string">Country code</span></li>
            <li><span class="attr">name:</span> <span class="string">Country name</span></li>
          </ul>
        </li>
        <li>&nbsp;</li>
        <li><span class="attr">debug:</span>
          <ul>
            <li><span class="attr">addedAt:</span> <span class="string">Timestamp when server was added</span></li>
            <li><span class="attr">sentPackets:</span> <span class="string">Packets sent to this server</span></li>
            <li><span class="attr">sentBytes:</span> <span class="string">Bytes sent to this server</span></li>
            <li><span class="attr">recvPackets:</span> <span class="string">Packets received from this server</span></li>
            <li><span class="attr">recvBytes:</span> <span class="string">Bytes received from this server</span></li>
          </ul>
        </li>
        <li>&nbsp;</li>
        <li><span class="attr">ts:</span> <span class="number">Timestamp of last received request</span></li>
        <li><span class="attr">password:</span> <span class="keyword">If server requires a password</span></li>
        <li><span class="attr">usgnonly:</span> <span class="keyword">If only U.S.G.N players are allowed</span></li>
        <li><span class="attr">fow:</span> <span class="keyword">If server has field of view restrictions</span></li>
        <li><span class="attr">friendlyfire:</span> <span class="keyword">If friendly fire is enabled</span></li>
        <li><span class="attr">bots:</span> <span class="number">Number of bots currently in game</span></li>
        <li><span class="attr">lua:</span> <span class="keyword">If Lua scripting is enabled</span></li>
        <li><span class="attr">forcelight:</span> <span class="keyword">If forced lighting is enabled</span></li>
        <li><span class="attr">name:</span> <span class="string">Name of server</span></li>
        <li><span class="attr">map:</span> <span class="string">Current map being played</span></li>
        <li><span class="attr">players:</span> <span class="number">Number of players currently in game</span></li>
        <li><span class="attr">maxplayers:</span> <span class="number">Max number of players</span></li>
        <li><span class="attr">gamemode:</span> <span class="number">Current game mode</span></li>
        <li><span class="attr">recoil:</span> <span class="keyword">If recoil is enabled</span></li>
        <li><span class="attr">offscreendamage:</span> <span class="keyword">If offscreen damage is enabled</span></li>
        <li><span class="attr">hasdownloads:</span> <span class="keyword">If server has files to download</span></li>
        <li><span class="attr">playerlist:</span>
        <li>&nbsp;</li>
          <ul>
            <li><span class="attr">id:</span> <span class="number">Player's ID</span></li>
            <li><span class="attr">name:</span> <span class="string">Player's name</span></li>
            <li><span class="attr">team:</span> <span class="number">Player's team</span></li>
            <li><span class="attr">score:</span> <span class="number">Player's score</span></li>
            <li><span class="attr">deaths:</span> <span class="number">Player's deaths</span></li>
          </ul>
        </li>
      <li>&nbsp;</li>
    </ul>
  </div>
</div>
