<div class="flex">
  <div>
    <h1><%= title %></h1>
  </div>
</div>

<p>Easily access real-time CS2D server data and upload leaderboard stats with our API:</p>
<ul>
  <li><b>Completely free</b> HTTP API</li>
  <li><b>Consistent JSON</b> responses</li>
  <li><b>Unlimited usage</b> — no rate limits</li>
  <li><b>Public access</b> with CORS enabled (*)</li>
</ul>

<div class="details-api">
  <div class="endpoint">
    <h2>Endpoint: Server Status</h2>
    <p>This endpoint returns server status details such as the current player count, server map, and more. You can query a single server or multiple servers in a single request.</p>
    <code class="api"><span class="curl">curl</span> <span class="str">"https://cs2d.pp.ua/api/157.90.170.75:20001"</span></code>
    <p>For multiple servers, simply include each server's IP and port, separated by commas:</p>
    <code class="api"><span class="curl">curl</span> <span class="str">"https://cs2d.pp.ua/api/157.90.170.75:20001,157.90.170.75:20002"</span></code>
    <p><strong>Note:</strong> The <code>ts</code> field in the JSON response indicates the timestamp of the most recent server query. The value is measured in seconds since <a href="https://en.wikipedia.org/wiki/Unix_time" target="_blank">the UNIX epoch</a>.</p>
  </div>
  
  <div class="endpoint">
    <h2>Endpoint: Upload Leaderboard</h2>
    <p>The leaderboard is uploaded as a <code>userstats.dat</code> file, which contains player stats. Ensure that the correct port number of the hosted server is included in the request.</p>
    <code class="api"><span class="curl">curl</span> -4 -X POST <span class="str">"https://cs2d.pp.ua/api/upload"</span> -F <span class="str">"file=@sys/stats/userstats.dat"</span> -F <span class="str">"port=36963"</span></code>
    <ul>
      <li><strong><code>file</code></strong> (required): Path to the <code>userstats.dat</code> file containing player statistics.</li>
      <li><strong><code>port</code></strong> (required): The port number on which the CS2D server is running.</li>
      <li><strong><code>sort</code></strong> (optional): A sorting formula to determine how the leaderboard data is arranged. The default value is <code>1</code>.</li>
    </ul>
    <p><strong>Note:</strong> The <code>-4</code> flag forces <code>curl</code> to use IPv4. This is especially helpful if your server is dual-stack (both IPv4 and IPv6) but the API expects IPv4 to correctly identify the server.</p>
  </div>
</div>
