<div class="flex">
  <div>
    <h1><%= title %></h1>
  </div>
</div>

<p>Access CS2D server details and upload the leaderboard. Free, unlimited, with CORS access.</p>
<div class="info">
  <p>If you'd like to share server's leaderboard, place the <a href="/upload_leaderboard.lua">📄 upload_leaderboard.lua (1.34 kB)</a> in the <code>sys/lua/autorun</code> folder. The script will upload the leaderboard when no players are in-game (<code>os.execute</code> temporarily freezes the server).</p>
</div>

<div class="details-api">
  <div class="endpoint">
    <h2>Endpoint: Server Status</h2>
    <p>This endpoint returns server status details such as the current player count, server map, and more. You can query a single server or multiple servers in a single request.</p>
    <code class="api"><span class="curl">curl</span> <span class="str">"https://cs2d.pp.ua/api/157.90.170.75:20001"</span></code>
    <p>For multiple servers, simply include each server's IP and port, separated by commas:</p>
    <code class="api"><span class="curl">curl</span> <span class="str">"https://cs2d.pp.ua/api/157.90.170.75:20001,157.90.170.75:20002"</span></code>
    <p class="note"><strong>Note:</strong> The <code>ts</code> field in the response indicates the timestamp of the latest request, measured in seconds since <a href="https://en.wikipedia.org/wiki/Unix_time" target="_blank">the UNIX epoch</a>.</p>
  </div>
  
  <div class="endpoint">
    <h2>Endpoint: Upload Leaderboard</h2>
    <p>The leaderboard is uploaded as a <code>userstats.dat</code> file, which contains player stats. Ensure that the correct port number of the hosted server is included in the request.</p>
    <code class="api"><span class="curl">curl</span> -4 <span class="str">"https://cs2d.pp.ua/api/upload"</span> -F <span class="str">"file=@sys/stats/userstats.dat"</span> -F <span class="str">"port=36963"</span></code>
    <ul>
      <li><strong><code>file</code></strong> (required): Path to <code>userstats.dat</code></li>
      <li><strong><code>port</code></strong> (required): Server port number</li>
      <li><strong><code>sort</code></strong> (optional): Formula used to sort users:</li>
      <ul>
        <li><code>0</code> – Sort by <code>score + kills - deaths</code></li>
        <li><code>1</code> – Sort by <code>assists + kills - deaths</code> (default)</li>
        <li><code>2</code> – Sort by <code>score + assists + deaths</code></li>
      </ul>
          
    </ul>
    <p class="note"><strong>Note:</strong> The <code>-4</code> flag forces <code>curl</code> to use IPv4, which this endpoint uses to correctly identify the server.</p>
  </div>
</div>
