    <footer>
      <a href="/api">API Documentation</a>
      <a class="github-button" href="https://github.com/ernestpasnik/cs2d-serverlist" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star ernestpasnik/cs2d-serverlist on GitHub">Star</a>
    </footer>
  </div>
</body>
</html>
