    <footer>
      <a href="/api">API</a>
      <a href="/stats">Stats</a>
      <a href="https://github.com/ernestpasnik/cs2d-serverlist" target="_blank">GitHub</a>
    </footer>
  </div>
</body>
</html>
