  </div>
  <footer class="bottom-0 flex-col items-center py-4 pt-10 text-center text-teal-50/50">
    <p><a href="/api">API Documentation</a></p>
    <p>© 2023 <a href="/">CS2D Serverlist</a>. All Rights Reserved.</p>
  </footer>
  <script src="/js/main.js"></script>
  <script src="//unpkg.com/alpinejs" defer></script>
  <script src="https://cdn.jsdelivr.net/gh/tofsjonas/sortable@latest/sortable.min.js"></script>
</body>
</html>
