  <footer>
    <a href="/api">API Documentation</a>
    <a href="https://github.com/ernestpasnik/cs2d-serverlist" target="_blank">GitHub Repository</a>
    <span>Uptime <%= uptime %></span>
    <span>↑<%= recv %> ↓<%= sent %></span>
  </footer>
  <script src="https://cdn.jsdelivr.net/gh/tofsjonas/sortable@latest/sortable.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
  <script defer src="/script.js?1.0.5"></script>
</body>
</html>
