    <footer>
      <a href="/api">API Documentation</a>
      <a href="https://github.com/ernestpasnik/cs2d-serverlist" target="_blank">GitHub Repository</a>
      <span>Uptime <%= uptime %></span>
      <span>Recv <%= recv %></span>
      <span>Sent <%= sent %></span>
    </footer>
</body>
</html>
