  <footer>
    <a href="https://github.com/ernestpasnik/cs2d-serverlist" target="_blank"><i class="bi bi-github"></i>GitHub</a>
    <a href="https://cs2d.com/" target="_blank"><i class="bi bi-box-arrow-up-right"></i>CS2D</a>
  </footer>
</body>
</html>
