  <footer>
    <a href="https://github.com/ernestpasnik/cs2d-serverlist" target="_blank"><i class="bi bi-github"></i>GitHub</a>
    <a href="https://cs2d.com/" target="_blank"><i class="bi bi-box-arrow-up-right"></i>CS2D</a>
  </footer>
  <script src="https://cdn.jsdelivr.net/gh/tofsjonas/sortable@latest/sortable.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
  <script defer src="/script.js?202411022034"></script>
</body>
</html>
