<!DOCTYPE html>
<html lang="en">
<head>
  <title>CS2D Serverlist</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/6.6.6/css/flag-icons.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/main.css?v=1676623183">
</head>
<body>
  <header>
    <div class="logo">
      <a href="/"><img src="/img/cs2d.png"></a>
    </div>
  </header>
  <div class="container">
