<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Explore a diverse CS2D server list with active servers and players online. Join thrilling matches on various maps from around the world.">
  <meta name="keywords" content="cs2d, serverlist, multiplayer, gaming, maps, game modes">
  <title><% if (typeof title !== 'undefined') { %><%= title %> · <% } %>CS2D Serverlist</title>
  <script async src="/script.js?02102024"></script>
  <script async src="https://cdn.jsdelivr.net/gh/tofsjonas/sortable@latest/sortable.min.js"></script>
  <link rel="stylesheet" href="/style.css?02102024">
  <link rel="icon" href="/favicon.ico?02102024">
</head>
<body>
