<!DOCTYPE html>
<html lang="en" x-data="{ darkMode: localStorage.getItem('dark') === 'true'} " x-init="$watch('darkMode', val => localStorage.setItem('dark', val))" x-bind:class="{ 'dark': darkMode }">
<head>
  <title>CS2D Serverlist</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/6.6.6/css/flag-icons.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body class="relative">
  <header class="bg-slate-100 dark:bg-black/50 md:pb-5">
    <div class="flex flex-row justify-between md:px-20">
      <a class="flex flex-row items-center gap-3 p-4" href="/">
        <img src="/img/cs2d.png" class="w-12 h-auto">
        <div class="flex flex-col items-start">
          <span class="text-xl text-slate-900 dark:text-white">CS2D</span>
          <span class="text-xs font-light text-slate-900 dark:text-white">Serverlist</span>
        </div>
      </a>
      <button class="inline-flex items-center px-4 py-1 text-xs font-normal uppercase rounded-full text-slate-900 dark:text-gray-200 focus:outline-none " @click="darkMode = !darkMode">
        <i class="p-3 rounded-full la-2x las la-sun" x-show="darkMode" style="display: none;"></i>
        <i class="p-3 rounded-full la-2x las la-moon" x-show="!darkMode" ></i> 
        Mode 
    </button>
    </div>
  
  </header>
  <div class="flex flex-col w-full">
