<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Discover active CS2D servers worldwide. Explore maps, check player stats, and join dynamic multiplayer matches.">
  <meta name="keywords" content="cs2d, serverlist, active servers, server browser, cs2d maps">  
  <title><% if (typeof title !== 'undefined') { %><%= title %> · <% } %>CS2D Serverlist</title>
  <link rel="icon" href="/favicon.ico">
  <link rel="stylesheet" href="/style.css?20241102300">
  <script defer src="https://cdn.jsdelivr.net/gh/tofsjonas/sortable@latest/sortable.min.js"></script>
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
  <script defer src="/script.js?20241102300"></script>
</head>
<body>
  <nav>
    <a href="/api"><i class="bi bi-file-code-fill"></i>API Docs</a>
    <a href="/stats"><i class="bi bi-bar-chart-fill"></i>Statistics</a>
  </nav>