<!DOCTYPE html>
<html lang="en">
<head>
  <title><% if (typeof title !== 'undefined') { %><%= title %> - <% } %>CS2D Serverlist</title>
  <meta charset="UTF-8">
  <meta name="description" content="Explore a diverse CS2D server list with active servers and players online. Join thrilling matches on various maps from around the world.">
  <meta name="keywords" content="CS2D, server list, multiplayer, gaming, maps, game modes">
  <meta name="author" content="Ernest Paśnik">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">  
  <link rel="stylesheet" href="/css/main.css?v=16092023">
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <script async defer src="/js/main.js?v=16092023"></script>
  <script async defer src="https://cdn.jsdelivr.net/gh/tofsjonas/sortable@latest/sortable.min.js"></script>
</head>
<body>
  <header>
    <div class="logo">
      <a href="/"><img src="/img/cs2d.webp" alt="CS2D Serverlist"></a>
    </div>
  </header>
  <div class="container">
