<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Find the best CS2D servers with our multiplayer server list. Explore detailed information for each server.">
  <meta name="keywords" content="cs2d servers, best cs2d servers, cs2d server list, top cs2d servers, cs2d server details, cs2d server ranking">
  <title><% if (typeof title !== 'undefined') { %><%= title %> - <% } %>CS2D Server List</title>
  <link rel="icon" href="/favicon.ico">
  <link rel="stylesheet" href="/style.css?<%= version %>">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <script defer="defer" src="/script.js?<%= version %>"></script>
</head>
<body>
  <nav>
    <a href="/api"><i class="bi bi-file-code-fill"></i>API Docs</a>
    <a href="/stats"><i class="bi bi-bar-chart-fill"></i>Statistics</a>
  </nav>
  <main>
    <%- body %>
  </main>
  <footer>
    <a href="https://github.com/ernestpasnik/cs2d-serverlist" target="_blank"><i class="bi bi-github"></i>GitHub</a>
    <a href="https://cs2d.com/" target="_blank"><i class="bi bi-box-arrow-up-right"></i>CS2D</a>
  </footer>
</body>
</html>
