<div class="flex">
  <div>
    <h1>Maps Database</h1>
  </div>
  <div id="map-count">
    <%= maps.length %> Maps
  </div>
</div>

<input type="text" id="maps_filter" name="maps_filter" placeholder="Filter maps by name" autocomplete="false">

<div class="maplist">
  <% maps.forEach(map => { %><a href="/maps/<%= map %>"><%= map %></a><% }); %>
</div>