<div class="flex">
  <div>
    <h1>Maps Database</h1>
  </div>
  <div id="map-count">
    <%= maps.length %> Maps
  </div>
</div>

<div id="maps-dev">
  <p>Just messing around with the <code>&#x3C;canvas&#x3E;</code> element lately to learn new things and get fun)) but rendering stuff like weapons etc. hits performance a bit harder than I expected. So for now, the map viewer's still in dev mode.— <a href="https://github.com/ernestpasnik/">Hajt</a> ✌️</p>
</div>

<input type="text" id="maps_filter" name="maps_filter" placeholder="Filter maps by name" autocomplete="false">

<div class="maplist">
  <% maps.forEach(map => { %><a href="/maps/<%= map %>"><%= map %></a><% }); %>
</div>