* {
  font-family: 'Inter', sans-serif;
  color: rgb(187, 198, 206);
  font-feature-settings: "cv11", "ss01";
  font-variation-settings: "opsz" 32;
}

body {
  margin: 0 auto;
  width: 900px;
  background-color: rgb(26, 40, 55);
  background-image: url(../img/bg.webp);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100%;
}

strong {
  font-weight: 500;
}

section {
  margin: 50px 0 25px 0;
  background-color: rgba(16, 24, 30, 0.9);
  border-radius: .75rem;
  padding: 2em;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

h1 {
  font-weight: 500;
  color: rgb(255, 255, 255);
  margin: 0;
  font-size: 1em;
}

a {
  font-size: 1em;
  text-decoration: none;
  color: rgba(56, 189, 248, 1);
}

small {
  font-size: 0.9em;
}

p {
  font-size: 0.9em;
  margin: 1.2em 0;
}

code {
  font-size: 0.83em;
  background-color: rgba(115, 130, 140, 0.05);
  border: 1px solid rgba(115, 130, 140, 0.05);
  padding: 0.5em;
  border-radius: 0.5rem;
  display: block;
  margin: 0;
  overflow: auto;
}

pre {
  font-size: 0.83em;
  background-color: rgba(115, 130, 140, 0.05);
  border: 1px solid rgba(115, 130, 140, 0.05);
  padding: 1em;
  border-radius: 0.5rem;
  margin: 0;
}

.flex {
  display: flex;
  margin-bottom: 2em;
  justify-content: space-between;
  align-items: flex-start;
}

.flex > div > div {
  font-size: 0.75em;
  text-align: right;
}

.bar {
  display: flex;
  margin-bottom: 0.5em;
  gap: 0.5em;
  font-size: 0.9em;
  flex-wrap: wrap;
  justify-content: center;
}

.bar > div {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid hsla(204, 10%, 50%, 0.2);
  padding: 0.25em 0.5em;
  background: hsla(204, 10%, 50%, 0.05);
  border-radius: 4px;
  font-size: 0.83em;
}

.bar > div > span {
  overflow: hidden;
  text-wrap: nowrap;
}

.bar > div > span:nth-child(1) {
  font-weight: 500;
  color: rgb(221, 230, 237);
}

.details {
  display: flex;
  gap: 1em;
  margin-top: 2em;
  min-height: 500px;
}

.details > div {
  width: 50%;
}

.spec {
  margin-top: 0.5em;
  padding: 0.5em;
  font-size: 0.85em;
  color: rgb(106 113 118);
}

.hide {
  display: none;
}

.loader {
  width: 16px;
  height: 16px;
  border: 2px solid hsla(204, 10%, 50%, 0.2);
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.table-responsive {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  white-space: nowrap;
  font-size: 0.85em;
}

th {
  text-align: left;
  font-weight: 500;
  color: rgb(221, 230, 237)
}

thead > tr > th {
  border-bottom: 1px solid hsla(204, 10%, 50%, 0.2);
}

tbody > tr:nth-of-type(odd) {
  background-color: hsla(204, 10%, 50%, 0.05);
}

th, td {
  padding: 0.5em 0.3em;
  max-width: 200px;
  overflow: clip;
}

.serverlist > tbody > tr > th:nth-child(1),
.serverlist > tbody > tr > td:nth-child(1) {
  font-size: 1.3em;
  padding: 0 0 0 .2em;
}

.serverlist > tbody > tr > th:nth-child(2),
.serverlist > tbody > tr > td:nth-child(2) {
  padding: .3em .3em .3em .3em;
}

::-webkit-scrollbar {
  display: none;
}

.t > thead > tr > th, .t > tbody > tr > td {
  color: #ed5141;
}

.t > thead > tr > th:nth-child(1), .ct > thead > tr > th:nth-child(1) {
  width: 60%;
}

.t > thead > tr > th:nth-child(2), .t > thead > tr > th:nth-child(3),
.ct > thead > tr > th:nth-child(2), .ct > thead > tr > th:nth-child(3) {
  width: 20%;
}

.ct > thead > tr > th, .ct > tbody > tr > td {
  color: #4ca3ff;
}

footer {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  justify-content: space-evenly;
  gap: 1em;
}

footer > a, footer > span {
  color: rgb(100 116 139/1);
  font-size: 0.8em;
}

footer > a:hover {
  color: rgb(148 163 184/1);
}

.sortable thead th:not(.no-sort) {
  cursor: pointer;
  user-select: none;
}

@media (max-width: 899px) {
  body {
    width: auto;
  }

  section {
    padding: 1em;
    margin: 0 0 25px 0;
    border-radius: 0;
  }

  .details {
    flex-direction: column;
    min-height: auto;
    margin-top: 1em;
  }

  .details > div {
    width: 100%;
  }

  table {
    font-size: 0.83em;
  }

  .spec {
    font-size: 0.83em;
  }

  footer {
    flex-direction: column;
  }

  .bar {
    gap: 0.5em;
    justify-content: space-between;
    margin-bottom: 0.5em;
  }

  .bar > div {
    width: calc(50% - 1.5em);
  }
}
