*, *::before, *::after {
  box-sizing: border-box;
  scrollbar-width: thin;
}
:root {
  color-scheme: dark;
  scroll-behavior: smooth;
}
body, input, button {
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-variation-settings: normal;
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}
a {
  text-decoration: none;
  color: #ddd;
}
a:hover {
  color: #fff;
}
b, p > a {
  font-weight: 500;
  color: #ddd;
}
body {
  padding: 0;
  margin: 0 auto;
  width: 900px;
  background-color: rgb(26, 40, 55);
  background-image: url("bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}
footer {
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 5rem;
  display: flex;
  flex-wrap: wrap;
  gap: .25rem;
  justify-content: center;
}
form {
  margin: 2rem auto;
  width: 50%;
}
footer>span {
  text-align: center;
  display: block;
  width: 100%;
  font-size: .85rem;
}
footer>span>a {
  color: #c9d1d9;
}
footer>span>a:hover {
  color: #fff;
}
h1,h2 {
  color: #ddd;
  margin: 0;
  font-size: 1.075rem;
  font-weight: 500;
}
h2 {
  margin-bottom: .5rem;
}
ul {
  padding-left: 1rem;
  margin-top: 0;
  margin-bottom: .5rem;
}
p {
  margin-top: 0;
  margin-bottom: .5rem;
}
label, button, input, .alert {
  font-size: .9rem;
}
p, li {
  font-size: .9rem;
  line-height: 1.5;
}
label {
  margin-bottom: .5rem;
  display: block;
  width: 100%;
  font-weight: 500;
  color: #ddd;
}
nav {
  display: flex;
}
nav>a {
  width: 100%;
  align-items: center;
  text-align: center;
  display: grid;
  padding: 1.5rem;
  gap: .2rem;
  justify-content: center;
  justify-items: center;
  font-size: .8rem;
  opacity: .8;
}
nav>a:hover svg {
  fill: #fff;
}
nav>a>span {
  padding-top: .2rem;
  font-weight: 500;
}
nav>a:hover, nav>a:hover>span {
  color: #fff;
  opacity: 1;
}
main {
  margin: 0;
  background-color: rgba(14,21,26,.69);
  border-radius: .375rem;
  padding: 1.5rem;
  box-shadow: 0 26px 58px 0 rgba(0, 0, 0, .22), 0 5px 14px 0 rgba(0, 0, 0, .18);
  min-height: 50vw;
}
table {
  width: 100%;
  border-collapse: collapse;
  white-space: nowrap;
}
th, td {
  font-size: .9rem;
}
tbody>tr:nth-of-type(odd) {
  background-color: rgba(115, 130, 140, .03);
}
th {
  text-align: left;
  font-weight: 500;
  border-bottom: 1px solid rgba(115, 130, 140, .1);
  padding: .6rem .3rem;
  color: #ddd;
  user-select: none;
}
abbr {
  text-decoration: none;
  cursor: help;
}
td {
  padding: .6rem .3rem;
  max-width: 165px;
  overflow: clip;
  text-overflow: ellipsis;
  color: #999;
}
.table-sm > tbody > tr > td {
  padding: .4rem .3em !important;
}
.table-sm > tbody > tr > td {
  min-width: 130px;
}
td>a {
  color: #999;
}
.endpoint {
  margin-top: 1.5rem;
}
.svlst > tbody > tr > td:nth-child(3) {
  max-width: 150px;
}
thead>tr>th:nth-child(1), tbody>tr>td:nth-child(1) {
  width: 0;
  padding-left: 1rem;
  padding-right: 0;
}
.tt>thead>tr>th:nth-child(1), .tt>tbody>tr>td:nth-child(1),
.ct>thead>tr>th:nth-child(1), .ct>tbody>tr>td:nth-child(1),
.dm>thead>tr>th:nth-child(1), .dm>tbody>tr>td:nth-child(1) {
  padding-left: .6rem;
}
.emoji {
  font-size: 1.12rem;
  user-select: none;
}
#addr {
  width: 100%;
  text-align: center;
  color: #c9d1d9;
  display: block;
  margin: 0;
  overflow: auto;
  border-radius: .25rem;
  text-wrap: nowrap;
  cursor: pointer;
  user-select: none;
}
#addr:hover {
  color: #fff;
}
.api {
  color: #c9d1d9;
  padding: .5rem .75rem;
  line-height: 1.5;
  display: block;
  background-color: rgba(115, 130, 140, .05);
  font-size: .85rem;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
  margin-bottom: .5rem;
  overflow: auto;
  border-radius: .25rem;
  overflow-wrap: anywhere;
}
.curl {
  color: rgb(255, 203, 107);
}
.str {
  color: rgb(195, 232, 141);
}
.bar {
  display: flex;
  gap: .5rem;
  margin-top: 1rem;
  margin-bottom: .5rem;
}
.bar>div {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: .6rem .9rem;
  background-color: hsla(204,10%,50%,.05);
  border-radius: .25rem;
  font-size: .9rem;
  width: 100%;
  text-wrap: nowrap;
  justify-content: space-around;
  gap: .25rem;
  color: #ddd;
}
.bar>div>span:first-child {
  color: #ddd;
  font-weight: 500;
}
#ts {
  display: inline-block;
  transition: opacity 0.3s ease-in-out;
}

#name {
  display: inline;
}

#loader {
  display: none;
  border: 3px solid rgb(21, 35, 44);
  border-top: 3px solid #ddd;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  animation: spin 1s linear infinite;
  margin-left: .2rem;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.c {
  color: rgb(66, 141, 255) !important;
}
.ct>thead>tr>th, .ct>tbody>tr>td {
  color: #4ca3ff;
}
.dm>thead>tr>th, .dm>tbody>tr>td {
  color: rgb(37, 226, 37);
}
.d {
  color: rgb(224, 53, 53) !important;
}
.details {
  display: flex;
  gap: .5rem;
  margin-bottom: 1rem;
  align-items: flex-start;
}
.details-api {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 1rem;
  align-items: flex-start;
}

.details,.details-api > div {
  flex: 1;
}
.svlist>tbody>tr>td:nth-child(4) {
  color: rgba(128, 128, 128, .5);
}
.e>td, .e>td>a {
  color: #ddd;
}
.leaderboard>tbody>tr>td>a {
  color: #ddd;
}
.leaderboard>tbody>tr>td>a:hover {
  color: #fff;
}
.e>td:nth-child(4) {
  color: #34d134;
}
.e:hover>td:nth-child(4) {
  color: #33f733;
}
.e>td:nth-child(4)>span {
  color: rgb(194, 194, 26);
}
.flex-details {
  gap: .5rem;
  margin-top: 1rem;
}
.flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: .5rem;
  flex-wrap: wrap;
}
.flex>div:first-child {
  display: flex;
  gap: .25rem;
  align-items: center;
}
.s {
  color: rgb(194, 194, 26) !important;
}
.svlst>tbody>tr:hover>td,.svlst>tbody>tr:hover>td>a {
  cursor: pointer;
  color: #fff;
  user-select: none;
}
.svlst thead th:not(.no-sort) {
  cursor: pointer;
  user-select: none;
}
.b {
  color: rgb(126, 126, 23);
}
.spec {
  font-size: .9rem;
  color: rgba(187, 198, 206, .6);
  line-height: 1.5;
  padding: 0 .5rem;
}
.stat-item {
  display: flex;
  gap: .25rem;
}
.stat-item:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}
.stat-item>span:first-child {
  color: #ddd;
}
.stat-item>span:last-child {
  margin-left: auto;
}
.stat-item>span {
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}
.stats {
  margin: 1rem 0;
  display: flex;
  gap: 1rem;
}
.stats-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  font-size: .9rem;
}
.stats-container>label {
  text-align: center;
}
.stats>div {
  width: 100%;
  background-color: rgba(115,130,140,.05);
  border-radius: 8px;
  gap: .4rem;
}
.stats>div>label {
  margin-bottom: .25rem;
}
.t {
  color: rgb(236, 155, 5) !important;
}
.tt>thead>tr>th, .tt>tbody>tr>td {
  color: #ed5141;
}
.dm>thead>tr>th:nth-child(2), .dm>thead>tr>th:nth-child(3), .ct>thead>tr>th:nth-child(2), .ct>thead>tr>th:nth-child(3), .tt>thead>tr>th:nth-child(2), .tt>thead>tr>th:nth-child(3) {
  width: 18%;
}
.responsive {
  overflow-x: auto;
}
.z {
  color: rgb(37, 226, 37) !important;
}
.flags {
  display: flex;
  justify-content: center;
  gap: .25rem;
  cursor: pointer;
  opacity: .8;
}
.flags:hover {
  opacity: 1;
}
.flag {
  width: 10px;
  height: 10px;
  background-image: url("gui_server.bmp");
  background-color: #14202c;
  background-blend-mode: screen;
  display: none;
}
.flag-gm {
  font-size: 10px;
  user-select: none;
  padding-right: .3rem;
  color: rgb(227, 229, 230) !important;
}
.password {
  background-position: 0 0;
}
.usgnonly {
  background-position: -10px 0;
}
.fow {
  background-position: -20px 0;
}
.hasdownloads {
  background-position: 0 -10px;
}
.forcelight {
  background-position: 0 -20px;
}
.recoil {
  background-position: -10px -20px;
}
.offscreendamage {
  background-position: -20px -20px;
}
.enabled {
  display: initial;
}
span, p, .stat-item > span, li {
  color: #bbc6ce;
}
.sortable thead th:not(.no-sort) {
  cursor: pointer;
}
.sortable thead th:not(.no-sort)::after, .sortable thead th:not(.no-sort):not(:first-child)::before {
  transition: color 0.1s ease-in-out;
  vertical-align: baseline;
  color: transparent;
}
.sortable thead th:not(.no-sort)::after {
  margin-left: 2px;
  content: "▸";
}
.sortable thead th:not(.no-sort):hover::after {
  color: inherit;
}
.sortable thead th:not(.no-sort)[aria-sort="descending"]::after {
  color: inherit;
  content: "▾";
}
.sortable thead th:not(.no-sort)[aria-sort="ascending"]::after {
  color: inherit;
  content: "▴";
}


.checkbox-container {
  height: 188px;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: .4rem .6rem;
  border-radius: .25rem;
  background-color: rgba(115,130,140,.05);
  margin-bottom: 1rem;
}

.checkbox-container > div  {
  display: flex;
  align-items: center;
}

.checkbox-container > div:hover > label {
  color: #fff;
}

.checkbox-container > div:hover > input[type="checkbox"] {
  background-color: rgba(115, 130, 140, .15);
  border: 1px solid rgba(115, 130, 140, .5);
}

.checkbox-container > div:first-child {
  padding-top: 0;
}

.checkbox-container > div:last-child {
  padding-bottom: 0;
}

.checkbox-container > div > label {
  color: #ddd;
  cursor: pointer;
  user-select: none;
  margin-bottom: 0;
  font-weight: normal;
  padding-left: .3rem;
  line-height: 1.75;
}

input:not([type="checkbox"]), button {
  background-color: rgba(115, 130, 140, .05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: .6rem .75rem;
  outline: none;
  border-radius: .25rem;
  color: #ddd;
  width: 100%;
  margin-bottom: .5rem;
}

button {
  cursor: pointer;
  width: auto;
  font-weight: 500;
  color: #ddd;
  border: 1px solid rgba(115, 130, 140, .25);
}

button:hover {
  background-color: rgba(115, 130, 140, .15);
  border: 1px solid rgba(115, 130, 140, .5);
}

.checkbox-container > div > input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  margin: 0;
  background-color: hsla(204,10%,50%,.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: .25rem;
  outline: none;
  cursor: pointer;
  position: relative;
  padding: .5rem;
}

.checkbox-container > div > input[type="checkbox"]::after {
  content: '';
  position: absolute;
  top: 4px;
  left: 6px;
  width: 4px;
  height: 8px;
  border: solid #ddd;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
}
.checkbox-container > div > input[type="checkbox"]:checked::after {
  opacity: 1;
}
.alert-container {
  width: 100%;
}
.alert {
  padding: .6rem 0;
  align-items: center;
  font-weight: 500;
  margin-bottom: .5rem;
}
.err {
  color: #e14f4f;
}
.msg {
  color: #3adf45;
}

.enbl {
  color: #5eff68;
}

.dsbl {
  color: #f55;
}

.vlue {
  color: #c6ff74;
}


/**************************\
  Basic Modal Styles
\**************************/
.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(9, 10, 17, .8);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor:auto;
}

.modal__container {
  background-color: rgb(27, 38, 45);
  border-radius: .375rem;
  padding: 1rem;
  max-width: 600px;
  max-height: 100vh;
  overflow-y: auto;
  box-sizing: border-box;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.15);
}

@keyframes mmfadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes mmfadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

@keyframes mmslideIn {
  from { transform: translateY(15%); }
    to { transform: translateY(0); }
}

@keyframes mmslideOut {
    from { transform: translateY(0); }
    to { transform: translateY(-10%); }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}













/* MOBILE */
@media (max-width: 916px) {
  .svlst>thead>tr>th:nth-child(2), .svlst>tbody>tr>td:nth-child(2) {
    width: 0;
    padding-left: .6rem;
    padding-right: .6rem;
  }
  body {
    width: auto;
    padding: 0 0 1.5rem 0;
  }
  h1,h2 {
    font-size: .95rem;
  }
  nav, nav > a, footer, label, footer>span, .alert {
    font-size: .8rem;
  }
  .stat-item {
    font-size: .85rem;
  }
  .spec {
    font-size: .8rem;
  }
  nav > a {
    padding: 1.5rem 0;
  }
  .flex {
    font-size: .98rem;
  }
  main {
    padding: 1rem .75rem;
  }
  table, code, p, input, li, label, button, .alert {
    font-size: .85rem;
  }
  .bar {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  div.bar > div {
    flex: 1 0 40%;
    font-size: .8rem;
  }
  .endpoint:nth-child(2) {
    margin-top: 0;
  }
  .details, .stats, .details-api {
    flex-direction: column;
    min-height: auto;
  }
  .details > div, .stats > div, .details-api > div {
    width: 100%;
    flex: none;
  }
  th, td {
    font-size: .8rem;
  }
  form {
    width: 100%;
  }
  .emoji, #loader {
    font-size: .9rem;
  }
  .modal__container {
    max-width: 300px;
  }
}
@media (max-width: 500px) {
  .svlst > tbody > tr > td:nth-child(3) {
    max-width: 95px;
  }
  .svlst > thead > tr > th:nth-child(1), .svlst > tbody > tr > td:nth-child(1), .svlst > thead > tr > th:nth-child(5), .svlst > tbody > tr > td:nth-child(5) {
    display: none;
  }
}

