* {
  font-family: "Inter", sans-serif;
  color: rgb(187, 198, 206);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-variation-settings: "opsz" 32;
}

a {
  text-decoration: none;
}

.ml-2 {
  margin-left: .2em;
}

.mr-2 {
  margin-right: .2em;
}

b,
strong {
  font-weight: 500;
  color: #e1e5e9;
}

body {
  padding: 0;
  margin: 0 auto;
  width: 1000px;
  background-color: rgb(26, 40, 55);
  background-image: url("bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 110%;
}

code {
  color: #c9d1d9;
  padding: 1em;
  display: block;
  margin: 0;
  overflow: auto;
  border-radius: .375rem;
}

code {
  text-wrap: nowrap;
}

footer {
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 5em;
  display: flex;
  flex-wrap: wrap;
  gap: .25rem;
  justify-content: center;
  opacity: .5;
}

footer>small {
  line-height: 1.5em;
  text-align: center;
}

footer>small>a {
  color: #ddd;
}

footer>small>a:hover {
  color: #fff;
}

h1 {
  color: #e1e5e9;
  margin: 0;
  font-size: 1.1em;
  font-weight: 500;
}

h2 {
  font-weight: 500;
  margin: 0;
  margin-bottom: .5em;
  color: #e1e5e9;
  text-align: center;
  margin-bottom: 1em;
  font-size: 1em;
}

h2>i {
  color: #e1e5e9;
}

nav {
  display: flex;
}

nav>a {
  width: 100%;
  align-items: center;
  text-align: center;
  display: grid;
  padding: 1.5em;
}

nav>a>span {
  font-size: .9em;
  font-weight: 500;
}

nav>a>i {
  font-size: 1.5em;
}

nav>a:hover,
nav>a:hover>i,
nav>a:hover>span {
  color: #fff;
}

nav>a>i {
  color: rgb(148 163 184/1);
}

main {
  margin: 0;
  background-color: rgba(14,21,26,.69);
  border-radius:.5rem;
  padding: 1.5em;
  box-shadow: 0 26px 58px 0 rgba(0, 0, 0, .22), 0 5px 14px 0 rgba(0, 0, 0, .18);
  min-height: 40vw;
}

small {
  font-size: .93em;
}

table {
  width: 100%;
  border-collapse: collapse;
  white-space: nowrap;
}

th, td {
  font-size: .96em;
}

tbody>tr:nth-of-type(odd) {
  background-color: rgba(115, 130, 140, .03);
}

th {
  text-align: left;
  font-weight: 500;
}

abbr {
  text-decoration: none;
  cursor: help;
}

th:hover, th:hover>abbr {
  color: #fff;
}

tbody>tr:hover>td {
  opacity: 1 !important;
}

tbody>tr:hover>td>.bots {
  opacity: 1;
}

th,
td {
  padding: .5em;
  max-width: 175px;
  overflow: clip;
  text-overflow: ellipsis;
  color: #999;
}

thead>tr>th {
  border-bottom: 1px solid rgba(115, 130, 140, .1);
  padding: .7em .5em;
  font-weight: 500;
  color: #bbc6ce;
}

.copy {
  cursor: pointer;
}

.copy:hover {
  color: #fff;
}

#address {
  width: 100%;
  text-align: center;
}

#pro {
  overflow: hidden;
  position: relative;
  z-index: 2;
  text-align: center;
  border-radius: .375rem;
  background-color: rgba(115, 130, 140, .05);
  font-size: .86em;
  padding: 1.1em;
  width: 100%;
}

#pro span {
  position: relative;
  z-index: 4;
  color: #e1e5e9;
}

#progress {
  height: 100%;
  width: 0;
  background-color: rgba(115,130,140,.05);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.api {
  color: #c9d1d9;
  padding: .75em 1em;
  display: block;
  background-color: rgba(115, 130, 140, .05);
  border-radius: .375rem;
  margin: 0;
  overflow: auto;
  font-size: .96em;
}

ul {
  list-style-type: none;
}

ul {
  padding-left: 1em;
}

.bar {
  display: flex;
  gap: .5em;
  margin-bottom: .5em;
}

.bar>div {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: .5em;
  background-color: hsla(204, 10%, 50%, .05);
  border-radius: .375rem;
  font-size: .86em;
  overflow: hidden;
  width: 100%;
  text-wrap: nowrap;
}

.bar>div>span:first-child {
  color: #e1e5e9;
}

.c {
  color: rgb(66, 141, 255);
}

.ct>thead>tr>th,
.ct>tbody>tr>td {
  color: #4ca3ff;
}

.d {
  color: rgb(224, 53, 53);
}

.details {
  display: flex;
  gap: 1em;
  margin-bottom: 1rem;
  min-height: 29.5vw;
  margin-top: 1em;
}

.details>div {
  width: 50%;
}

td:nth-child(4) {
  color: rgba(128, 128, 128, .5);
}

.e>td {
  color: #ddd;
}

.e>td:nth-child(4) {
  color: #34d134;
}

.e:hover>td:nth-child(4) {
  color: #33f733;
}

.e>td:nth-child(4)>span {
  color: rgb(255, 255, 0);
}

.flex-details {
  gap: .5rem;
  margin-top: 1rem;
}

.flex {
  font-size: 1.05em;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  flex-wrap: wrap;
}

.flex>div {
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

.attr, .number {
  color: #79c0ff;
}

.keyword {
  color: #ff7b72;
}

.string {
  color: #a5d6ff;
}

.s {
  color: rgb(194, 194, 26);
}

.serverlist>tr:hover>td {
  cursor: pointer;
  color: #fff;
}

.sortable thead th:not(.no-sort) {
  cursor: pointer;
  user-select: none;
}

.bots {
  opacity: 0.7;
  color: #979708;
}

.spec {
  font-size: .96rem;
  color: rgba(187, 198, 206, .6);
}

.stat-item {
  display: flex;
  margin-bottom: .5em;
  gap: .5em;
  font-size: .96em;
}

.stat-item:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}

.stat-item>span:first-child {
  color: #e1e5e9;
}

.stat-item>span:last-child {
  margin-left: auto;
}

.stat-item>strong,
.stat-item>span {
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

.stats {
  margin: 1em 0;
  display: flex;
  gap: 1em;
}

.stats-container {
  display: flex;
  flex-direction: column;
}

.stats>div {
  width: 100%;
  background-color: rgba(115,130,140,.05);
  height: min-content;
  padding: 1.25em;
  border-radius: .375rem;
}

.t {
  color: rgb(236, 155, 5);
}

.tt>thead>tr>th,
.tt>tbody>tr>td {
  color: #ed5141;
}

.table-responsive {
  overflow-x: auto;
}

.z {
  color: rgb(37, 226, 37);
}

@media (max-width: 1016px) {
  body {
    width: auto;
    padding: 0 0 1.5em 0;
  }

  nav,
  nav > a,
  footer {
    font-size: .93em;
  }

  .flex>div,.flex>div>span {
    font-size: .93em;
  }

  .stat-item {
    font-size: .84em;
  }

  nav > a {
    padding: 1.5em 0;
  }
  
  #gm {
    font-size: 1em;
  }

  .flex {
    font-size: .98em;
  }

  h2 {
    font-size: .93em;
  }

  #pro {
    display: none;
  }

  #pro,
  .api,
  .stats-container,
  .bar>div {
    border-radius: .375rem;
  }

  main {
    padding: 1rem .75rem;
    border-radius: 0;
  }

  .api,
  table,
  .spec {
    font-size: .84em;
  }

  code, p, .api {
    font-size: .84em;
  }

  .bar {
    flex-wrap: wrap;
  }

  .bar>div {
    width: calc(50% - .3em);
    font-size: .84em;
  }

  .details,
  .stats {
    flex-direction: column;
    min-height: auto;
  }

  .details>div,
  .stats>div {
    width: auto;
  }
}