@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("https://cdnjs.cloudflare.com/ajax/libs/inter-ui/3.19.3/Inter (web)/Inter-Regular.woff2?v=3.19") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("https://cdnjs.cloudflare.com/ajax/libs/inter-ui/3.19.3/Inter (web)/Inter-Medium.woff2?v=3.19") format("woff2");
}

@font-face {
  font-display: block;
  font-family: "bootstrap-icons";
  src: url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.3/font/fonts/bootstrap-icons.woff2") format("woff2");
}

@font-face {
  font-family: "Twemoji Country Flags";
  unicode-range: U+1F1E6-1F1FF, U+1F3F4, U+E0062-E0063, U+E0065, U+E0067, U+E006C, U+E006E, U+E0073-E0074, U+E0077, U+E007F;
  src: url("https://cdn.jsdelivr.net/npm/country-flag-emoji-polyfill@0.1/dist/TwemojiCountryFlags.woff2") format("woff2");
}

* {
  font-family: "Inter", "Twemoji Country Flags", sans-serif;
  color: rgb(187,198,206);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

b, strong {
  font-weight: 500;
  color: #c9d1d9;
}

body {
  padding: 0;
  margin: 0 auto;
  width: 980px;
  background-color: rgb(26,40,55);
  background-image: url("bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100%;
}

code {
  color: #c9d1d9;
  padding: .75em 1em;
  display: block;
  margin: 0;
  overflow: auto;
  font-size: 0.9em;
}

code, pre {
  text-wrap: nowrap;
}

footer>a {
  display: flex;
  align-items: top;
  font-size: 0.9em;
  padding: 1.5em;
}

footer>a, footer>a>i {
  color: rgb(100 116 139/1);
}

footer>a:hover {
  color: rgb(148 163 184/1);
}

footer>a:hover, a:hover>i {
  color: rgb(148 163 184/1);
}

h1 {
  font-weight: 500;
  color: rgb(255,255,255);
  margin: 0;
  font-size: 1em;
}

h2 {
  font-weight: 500;
  color: #e1e5e9;
  margin: 0;
  font-size: 1em;
  margin-bottom: 0.25em;
}

h2>i {
  color: #e1e5e9;
}

nav, footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav>a {
  padding: 1.5em;
  color: rgb(148 163 184/1);
  display: flex;
  align-items: center;
}

nav>a, nav>span {
  font-size: 0.9em;
}

nav>a:hover, nav>a:hover>i {
  color: rgb(184,194,207);
}

nav>a>i {
  color: rgb(148 163 184/1);
}

p {
  margin: 1em 0;
  line-height: 1.4em;
  font-size: 0.9em;
}

pre {
  margin: 0.5em 0;
  padding: 0;
  font-size: 1em;
}

pre {
  background-color: rgba(115,130,140,.05);
  border-radius: 8px;
}

main {
  margin: 0;
  background-color: rgba(16,24,30,0.85);
  border-radius: 8px;
  padding: 1.5em;
  box-shadow: 0 1rem 3rem rgba(0,0,0,0.175);
}

small {
  font-size: 0.9em;
}

table {
  width: 100%;
  border-collapse: collapse;
  white-space: nowrap;
  font-size: 0.92em;
}

tbody>tr:nth-of-type(odd) {
  background-color: rgba(115,130,140,0.03);
}

th {
  text-align: left;
  color: rgb(221,230,237);
  font-weight: 500;
}

th, td {
  padding: 0.5em;
  max-width: 175px;
  overflow: clip;
  text-overflow: ellipsis;
}

thead>tr>th {
  border-bottom: 1px solid hsla(204,10%,50%,0.2);
}

#address {
  cursor: pointer;
  text-align: center;
}

#gm {
  padding-left: 0.25em;
  padding-right: 0.25em;
  font-weight: 500;
  font-size: 1.1em;
  opacity: 0.75;
}

#pro {
  overflow: hidden;
  position: relative;
  z-index: 2;
  text-align: center;
  border-radius: 8px;
  background-color: rgba(115,130,140,.05);
  height: 100%;
  align-content: center;
  margin-bottom: 0.5em;
  padding: 0.5em 0.75em;
}

#pro span {
  position: relative;
  z-index: 4;
  font-size: .88em;
}

#progress {
  height: 100%;
  width: 0;
  background-color: hsla(204,10%,50%,0.05);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.api {
  color: #c9d1d9;
  padding: .75em 1em;
  display: block;
  background-color: rgba(115,130,140,.05);
  border-radius: 8px;
  margin: 0;
  overflow: auto;
  font-size: 0.9em;
  line-height: 1.5em;
  list-style-type: none;
}

.bar {
  display: flex;
  gap: 0.5em;
  font-size: 0.84em;
  justify-content: center;
}

.bar>div {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0.5em 0.75em;
  background-color: hsla(204,10%,50%,0.05);
  border-radius: 8px;
  font-size: 0.88em;
  overflow: hidden;
  width: 100%;
  text-wrap: nowrap;
}

.bi {
  padding-right: 0.25em;
}

.bi-arrow-clockwise::before {
  content: "\f116";
}

.bi-arrow-left::before {
  content: "\f12f";
}

.bi-arrow-up-right::before {
  content: "\f144";
}

.bi-bar-chart-fill::before {
  content: "\f17a";
}

.bi-check-lg::before {
  content: "\f633";
}

.bi-file-code-fill::before {
  content: "\f351";
}

.bi-geo-alt-fill::before {
  content: "\f3e7";
}

.bi-github::before {
  content: "\f3ed";
}

.bi-list-task::before {
  content: "\f477";
}

.bi-map-fill::before {
  content: "\f47e";
}

.bi-server::before {
  content: "\f52c";
}

.bi-box-arrow-up-right::before {
  content: "\f1c5";
}

.bi::before, [class^="bi-"]::before, [class*=" bi-"]::before {
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.c {
  color: rgb(66,141,255);
}

.ct>thead>tr>th, .ct>tbody>tr>td {
  color: #4ca3ff;
}

.d {
  color: rgb(224,53,53);
}

.details {
  display: flex;
  gap: 1em;
  min-height: 35vw;
}

.details>div {
  width: 50%;
}

.e>td {
  color: rgba(128,128,128,0.6);
}

.e>td:first-child {
  opacity: 0.6;
}

.flex {
  display: flex;
  justify-content: space-between;
  gap: .25em;
}

.flex>div {
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

.flex>div:first-child>a:hover>#gm {
  opacity: 1;
}

.flex>div:first-child>a:hover>h1>i, .flex>div:first-child>a:hover>h1, .flex>div:first-child>a:hover>div, .flex>div:first-child>a:hover>div>i {
  color: #fff;
}

.flex>div:first-child>a>h1 {
  display: inline;
}

.flex>div:first-child>a>i, .flex>div:first-child>a>h1 {
  color: #e5ebf0;
}

.flex>div>div {
  text-align: right;
  font-size: 0.9em;
}

.hljs {
  color: #c9d1d9;
}

.hljs-addition {
  color: #aff5b4;
  background-color: #033a16;
}

.hljs-attr, .hljs-attribute, .hljs-literal, .hljs-meta, .hljs-number, .hljs-operator, .hljs-selector-attr, .hljs-selector-class, .hljs-selector-id, .hljs-variable {
  color: #79c0ff;
}

.hljs-built_in, .hljs-symbol {
  color: #ffa657;
}

.hljs-bullet {
  color: #f2cc60;
}

.hljs-code, .hljs-comment, .hljs-formula {
  color: #8b949e;
}

.hljs-deletion {
  color: #ffdcd7;
  background-color: #67060c;
}

.hljs-doctag, .hljs-keyword, .hljs-meta .hljs-keyword, .hljs-template-tag, .hljs-template-variable, .hljs-type, .hljs-variable.language_ {
  color: #ff7b72;
}

.hljs-emphasis {
  color: #c9d1d9;
  font-style: italic;
}

.hljs-meta .hljs-string, .hljs-regexp, .hljs-string {
  color: #a5d6ff;
}

.hljs-name, .hljs-quote, .hljs-selector-pseudo, .hljs-selector-tag {
  color: #7ee787;
}

.hljs-section {
  color: #1f6feb;
  font-weight: 500;
}

.hljs-strong {
  color: #c9d1d9;
  font-weight: 500;
}

.hljs-subst {
  color: #c9d1d9;
}

.hljs-title, .hljs-title.class_, .hljs-title.class_.inherited__, .hljs-title.function_ {
  color: #d2a8ff;
}

.s {
  color: rgb(194,194,26);
}

.serverlist>thead>tr>th:nth-child(1), .serverlist>tbody>tr>td:nth-child(1) {
  padding: 0 .4em 0 .4em;
}

.serverlist>thead>tr>th:nth-child(2), .serverlist>tbody>tr>td:nth-child(2) {
  padding-left: 0;
}

.serverlist>tr:hover>td {
  color: rgb(255,255,255);
  cursor: pointer;
  opacity: 1;
}

.sortable thead th:not(.no-sort) {
  cursor: pointer;
  user-select: none;
}

.spec {
  padding: 0.5em;
  font-size: 0.92em;
}

.stat-item {
  display: flex;
  padding: 0.1em 0;
}

.stat-item>strong, .stat-item>span {
  width: 100%;
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

.stats {
  margin: 1em 0;
  display: flex;
  gap: 1em;
  min-height: 35vw;
}

.stats-container {
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
}

.stats>div {
  width: 100%;
  background-color: rgba(115,130,140,.05);
  height: min-content;
  padding: 1em 1.25em;
  border-radius: 8px;
}

.t {
  color: rgb(236,155,5);
}

.t>thead>tr>th, .t>tbody>tr>td {
  color: #ed5141;
}

.t>thead>tr>th:nth-child(1), .ct>thead>tr>th:nth-child(1) {
  width: 60%;
}

.t>thead>tr>th:nth-child(2), .t>thead>tr>th:nth-child(3), .ct>thead>tr>th:nth-child(2), .ct>thead>tr>th:nth-child(3) {
  width: 20%;
}

.table-responsive {
  overflow-x: auto;
  margin: 1em 0;
}

.z {
  color: rgb(37,226,37);
}

@media (max-width: 992px) {
  body {
    width: auto;
    padding: 0 0 1.5em 0;
    background-size: contain;
  }

  nav, footer, .stat-item {
    font-size: 0.93em;
  }

  pre, #pro, .api, .stats-container, .bar > div {
    border-radius: 4px;
  }

  main {
    padding: 1.5em 1em;
  }

  table, .spec {
    font-size: 0.84em;
  }

  .bar {
    flex-wrap: wrap;
  }

  .bar>div {
    width: calc(33% - 0.4em);
  }

  .details, .stats {
    flex-direction: column;
    min-height: auto;
  }

  .details>div, .stats>div {
    width: auto;
  }
}